/* Global Variables */
:root {
    --FirstBGColor: #00002a;
    --SecondaryBGColor: #e9e8e8;
    --ThirdBGColor: #dcdcdc;
    --HightlightColor: #63f800;
    --LightColor: #585869;
    --LogoHue: 0deg;
}

@font-face {
    font-family: Jay Gothic Regular;
    src: url(./Fonts/JayGothicRegular.ttf);
    font-display: fallback;
}

@font-face {
    font-family: Jay Gothic Light;
    src: url(./Fonts/JayGothicLight.ttf);
    font-display: fallback;
}

#body {
    background-color: var(--SecondaryBGColor);
    background-image: url(Assets/Hintergrund.svg);
    background-size: cover;

    font-family: Jay Gothic Regular;
}


h1{
    font-family: Jay Gothic Light; 
    font-size: 8vw;

}

.Header{
    text-align: right;
}

.Header a{
    color: var(--SecondaryBGColor);
    font-style: italic;
    opacity: 0.6;
}

.party{
    /* background-color: #63f800;
    background-image: none; */
    animation: gradientColor 1.5s infinite, growing .1s;
    
}

.Container {
    max-width: 1120px;
    margin: auto;
    padding: 20px;
}

#IntroBox {
    background-color: var(--HightlightColor);
    width: 20vw;
    left: -23vw;
    height: 10px;
    position: absolute;
}

.Header img {
    width: 100%;
    margin-top: 20px;
    filter: hue-rotate(var(--LogoHue));
}

.Intro {
    margin-top: 16vh;
    margin-left: 3vw;
    margin-bottom: 16vh;
}

.Intro p {
    font-family: Jay Gothic Light;
    font-size: calc(16pt + 1.2vw);

    color: var(--SecondaryBGColor);
    margin-top: 0px;
    margin-bottom: 0px;
}

.Intro p :hover{
    color: var(--HightlightColor);
    cursor: pointer;
}


.ProjectTile {
    position: relative;
    min-height: 300px;

    margin: 8px;
    padding: 20px;
    border-radius: 4px;

    background-color: var(--SecondaryBGColor);
    cursor: pointer;
}

.Projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    grid-template-rows: auto;
    grid-gap: 40px;
}

/*SMARTPHONE*/
@media (max-device-width: 600px) {
    .Projects {
        grid-template-columns: 1fr;
  }
}

@media (min-device-width: 601px) {
    .Projects {
        grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
    }
}

.ProjectTile .Shadow {
    background: var(--HightlightColor);
    position: absolute;
    width: 100%;
    height: 100%;

    left: 8px;
    top: 8px;

    border-radius: 4px;
    z-index: -1;
    animation: shrinking .5s;
}

.ProjectTile:hover .Shadow {
    animation: gradient 20.5s infinite, growing .1s; 
    
    
    left: 16px;
    top: 16px;
}

.ProjectTile:hover {
    filter: blur(0px);
}

.ProjectTile h1 {
    margin-top: 76px;
    margin-left: 4%;
    margin-bottom: 0;

    font-size: calc(24pt + 2vw);

    font-family: Jay Gothic Light;
    font-style: italic;

    text-transform: uppercase;

    color: var(--FirstBGColor);
}

.ProjectTile p {
    margin-left: 4%;
    margin-top: 0;

    font-family: Jay Gothic Light;
    font-size: calc(16pt + .3vw);
    color: var(--LightColor);

    text-transform: uppercase;

    max-width: 70%;
}

.ProjectTile .ExtraSlim {
    max-width: 50%;
}

.ContactMe h1{
    font-family: Jay Gothic Light; 
    font-size: 8vw;
    margin-top: 42vh;
    overflow: hidden;
    white-space: nowrap;
    font-style: italic;
}

a {
    color: var(--HightlightColor);
    font-style: italic;
}

h1 a:hover{
    
    filter: blur(4px);
    filter: invert(1);
}

.Footer {
    margin: 0 auto;
    margin-top: 42vh;
  width:max-content;
    max-width: 14vw;

}
.Footer p{

    font-size: 12pt;
    color: var(--LightColor);
}

.Footer img{
    margin-left:4vw;
        width: 32px;
  
}

